<mat-toolbar color="primary" class="flex justify-between main-toolbar">
  <span>
    <button mat-button routerLink="/">Interview Project</button>
  </span>
  <div>
    <button mat-button routerLink="/login">
      <mat-icon>power_settings_new</mat-icon>
      Login
    </button>
    <button mat-button routerLink="/users">
      <mat-icon>people</mat-icon>
      Users
    </button>
    <button mat-button routerLink="/notes">
      <mat-icon>description</mat-icon>
      Notes
    </button>
    <button mat-button routerLink="/profile">
      <mat-icon>manage_accounts</mat-icon>
      Profile
    </button>
    <button mat-button>
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-toolbar>
