<div class="main-div">

  <form [formGroup]="userForm" (ngSubmit)="save()" class="flex flex-col m-auto edit-form">
    <h1>{{isCreating ? 'Create' : 'Edit'}} User</h1>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" autocomplete="off" formControlName="email"/>
      <mat-error *ngIf="userForm.controls['email'].errors">{{getFormFieldError(userForm, 'email')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName"/>
      <mat-error *ngIf="userForm.controls['firstName'].errors">{{getFormFieldError(userForm, 'firstName')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput type="text" formControlName="lastName"/>
      <mat-error *ngIf="userForm.controls['lastName'].errors">{{getFormFieldError(userForm, 'lastName')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select placeholder="Role" formControlName="roleName">
        <mat-option value="User">User</mat-option>
        <mat-option value="Admin">Admin</mat-option>
      </mat-select>
      <mat-error *ngIf="userForm.controls['roleName'].errors">{{getFormFieldError(userForm, 'roleName')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{!isCreating ? 'New' : ''}} Password</mat-label>
      <input matInput type="password" formControlName="password"/>
      <mat-error *ngIf="userForm.controls['password'].errors">{{getFormFieldError(userForm, 'password')}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm {{!isCreating ? 'New' : ''}} Password</mat-label>
      <input [match]="userForm.value['password']" matInput type="password" formControlName="confirmPassword"/>
      <mat-error *ngIf="userForm.controls['confirmPassword'].dirty && userForm.controls['confirmPassword'].errors">{{getFormFieldError(userForm, 'confirmPassword')}}</mat-error>
    </mat-form-field>

    <div class="flex gap-2 w-full">
      <a class="flex-1" mat-button color="primary" routerLink="/users" type="button">Back</a>
      <button [disabled]="userForm.invalid" class="flex-1" mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
