<div class="flex justify-between align-middle">
  <div class="flex items-baseline">
    <mat-form-field class="search-form-field reduce-search-input-density" appearance="outline">
      <mat-label>Find by Text</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue">
      <button class="search-clear-button" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue='';executeFilter()">
        <mat-icon *ngIf="searchValue">close</mat-icon>
      </button>
    </mat-form-field>
    <button class="ml-2" mat-raised-button color="primary" (click)="executeFilter()">Find</button>
  </div>
  <div>
    <a mat-raised-button color="primary" routerLink="create">Add New</a>
  </div>
</div>
<div class="table-container">
  <table mat-table [dataSource]="notes" class="users-table"
         matSort matSortActive="name" matSortDisableClear matSortDirection="desc">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef>Text</th>
      <td mat-cell *matCellDef="let element">{{element.text}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th class="text-center-imp" mat-header-cell *matHeaderCellDef>Actions</th>
      <td class="text-center-imp" mat-cell *matCellDef="let user">
        <a mat-button color="primary" [routerLink]="'edit/' + user.id">Edit</a>
        <button class="ml-2" mat-button color="warn" (click)="onDelete(user)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator
  [length]="totalNotes"
  [pageSize]="rowsPage"
  (page)="onPageChanged($event)"
  aria-label="Select page of Users search results"
>
</mat-paginator>
