<div class="main-div">

  <form [formGroup]="noteForm" (ngSubmit)="save()" class="flex flex-col m-auto edit-form">
    <h1>{{isCreating ? 'Create' : 'Edit'}} Note</h1>
    <mat-form-field appearance="outline">
      <mat-label>Text</mat-label>
      <textarea matInput autocomplete="off" formControlName="text"></textarea>
      <mat-error *ngIf="noteForm.controls['text'].errors">{{getFormFieldError(noteForm, 'text')}}</mat-error>
    </mat-form-field>

    <div class="flex gap-2 w-full">
      <a class="flex-1" mat-button color="primary" routerLink="/notes" type="button">Back</a>
      <button [disabled]="noteForm.invalid" class="flex-1" mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>
