@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/roboto.scss';
@import 'styles/material-icons.scss';
@import 'ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  padding: 0;
  margin: 0
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.search-form-field {
  width: 300px;

  .search-clear-button {
    padding: 6px !important;
    height: 100% !important;
    width: auto !important;
  }
}

.mdc-notched-outline__notch {
  border-right: 0;
}

.text-center-imp {
  @apply text-center #{!important};
}

.edit-form {
  max-width: 500px;
  @apply w-full
}

